{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Radio Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css" integrity="sha384-Fo3rlrZj/k7ujTnH/PRkY0RBgMwJ2YtN5UuIY/9Kk6N3h/z3T2DIsYQG9WQR4/b1S" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/login/">login</a>
            <a href="/signup/">signup</a>
            <!-- Add more links as needed -->
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
